// Primary colors
$light-cyan: #cee3e9;
$neon-green: rgb(82, 255, 168);
// Neutral colors
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);



